<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="..\bower_components\semantic\dist\semantic.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body ng-app="calculator" ng-controller="mainController as app">
    <div class="ui equal width center aligned padded grid main-container">
      <div class="row menu-container">
        <div class="ui inverted segment">
          <div class="ui inverted secondary pointing menu">
            <a class="active item">
              Basic
            </a>
            <a ng-show="false" class="item">
              Scientific
            </a>
            <a ng-click="app.close()" class="ui icon right item">
              <i class="close icon"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row result-container">
        <div id="result1" class="ui huge input">
          <input type="text" value="{{app.expression.join('')}}">
        </div>
        <div id="result2" class="ui huge input" style="display:none;">
          <input type="text" value="{{app.expression.join('')}}">
        </div>
      </div>
      <div class="row">
        <div class="ui inverted equal width grid controls">
          <div class="ui inverted segment row right">
            <div class="four wide column">
              <button ng-click="app.clear()" class="ui icon button">
                <i class="arrow left icon"></i>
              </button>
            </div>
          </div>
          <div class="ui inverted segment row">
            <div class="column">
              <button ng-click="app.add(7)" class="ui icon button">
                <i class="icon text">7</i>
              </button>
            </div>
            <div class="column">
              <button ng-click="app.add(8)" class="ui icon button">
                <i class="icon text">8</i>
              </button>
            </div>
            <div class="column">
              <button ng-click="app.add(9)" class="ui icon button">
                <i class="icon text">9</i>
              </button>
            </div>
            <div class="column">
              <button ng-click="app.add('/')" class="ui icon button">
                <i class="icon text">/</i>
              </button>
            </div>
          </div>
          <div class="ui inverted segment row">
            <div class="column">
              <button ng-click="app.add(4)" class="ui icon button">
                <i class="icon text">4</i>
              </button>
            </div>
            <div class="column">
              <button ng-click="app.add(5)" class="ui icon button">
                <i class="icon text">5</i>
              </button>
            </div>
            <div class="column">
              <button ng-click="app.add(6)" class="ui icon button">
                <i class="icon text">6</i>
              </button>
            </div>
            <div class="column">
              <button ng-click="app.add('*')" class="ui icon button">
                <i class="icon remove"></i>
              </button>
            </div>
          </div>
          <div class="ui inverted segment row">
            <div ng-click="app.add(1)" class="column">
              <button class="ui icon button">
                <i class="icon text">1</i>
              </button>
            </div>
            <div class="column">
              <button ng-click="app.add(2)" class="ui icon button">
                <i class="icon text">2</i>
              </button>
            </div>
            <div class="column">
              <button ng-click="app.add(3)" class="ui icon button">
                <i class="icon text">3</i>
              </button>
            </div>
            <div class="column">
              <button ng-click="app.add('-')" class="ui icon button">
                <i class="icon minus"></i>
              </button>
            </div>
          </div>
          <div class="ui inverted segment row">
            <div class="column">
              <button ng-click="app.add('.')" class="ui icon button">
                <i class="icon text">.</i>
              </button>
            </div>
            <div class="column">
              <button ng-click="app.add('0')" class="ui icon button">
                <i class="icon text">0</i>
              </button>
            </div>
            <div class="column">
              <button ng-click="app.eval()" class="ui icon button">
                <i class="icon text">=</i>
              </button>
            </div>
            <div class="column">
              <button ng-click="app.add('+')" class="ui icon button">
                <i class="icon plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="..\bower_components\jquery\dist\jquery.js"></script>
    <script>
      $ = jQuery = module.exports;
    </script>
    <script src="..\bower_components\semantic\dist\semantic.js"></script>
    <script src="..\bower_components\angular\angular.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
