
  <div class="ui inverted equal width grid controls basic">
    <div class="ui inverted segment row right">
      <div class="four wide column">
        <button ng-click="app.clear()" class="ui icon button">
          <i class="arrow left icon"></i>
        </button>
      </div>
    </div>
    <div class="ui inverted segment row">
      <div class="column">
        <button ng-click="app.add(7)" class="ui icon button">
          <i class="icon text">7</i>
        </button>
      </div>
      <div class="column">
        <button ng-click="app.add(8)" class="ui icon button">
          <i class="icon text">8</i>
        </button>
      </div>
      <div class="column">
        <button ng-click="app.add(9)" class="ui icon button">
          <i class="icon text">9</i>
        </button>
      </div>
      <div class="column">
        <button ng-click="app.add('/')" class="ui icon button">
          <i class="icon text">/</i>
        </button>
      </div>
    </div>
    <div class="ui inverted segment row">
      <div class="column">
        <button ng-click="app.add(4)" class="ui icon button">
          <i class="icon text">4</i>
        </button>
      </div>
      <div class="column">
        <button ng-click="app.add(5)" class="ui icon button">
          <i class="icon text">5</i>
        </button>
      </div>
      <div class="column">
        <button ng-click="app.add(6)" class="ui icon button">
          <i class="icon text">6</i>
        </button>
      </div>
      <div class="column">
        <button ng-click="app.add('*')" class="ui icon button">
          <i class="icon remove"></i>
        </button>
      </div>
    </div>
    <div class="ui inverted segment row">
      <div ng-click="app.add(1)" class="column">
        <button class="ui icon button">
          <i class="icon text">1</i>
        </button>
      </div>
      <div class="column">
        <button ng-click="app.add(2)" class="ui icon button">
          <i class="icon text">2</i>
        </button>
      </div>
      <div class="column">
        <button ng-click="app.add(3)" class="ui icon button">
          <i class="icon text">3</i>
        </button>
      </div>
      <div class="column">
        <button ng-click="app.add('-')" class="ui icon button">
          <i class="icon minus"></i>
        </button>
      </div>
    </div>
    <div class="ui inverted segment row">
      <div class="column">
        <button ng-click="app.add('.')" class="ui icon button">
          <i class="icon text">.</i>
        </button>
      </div>
      <div class="column">
        <button ng-click="app.add('0')" class="ui icon button">
          <i class="icon text">0</i>
        </button>
      </div>
      <div class="column">
        <button ng-click="app.eval()" class="ui icon button">
          <i class="icon text">=</i>
        </button>
      </div>
      <div class="column">
        <button ng-click="app.add('+')" class="ui icon button">
          <i class="icon plus"></i>
        </button>
      </div>
    </div>
  </div>
